.product_container{
    display: flex;
    flex-wrap: wrap;
    
}
.pro_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin: 20px 0px 0px 0px;
    background-color: #f09930;
    box-shadow: 1px 0px 8px 0px;
}
.pro_head{
    font-weight: 700;
    color: white;
}
.div_product{
    position: relative;
    flex: 1;
    min-width:280px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbf7cb,0.5;
    padding: 5px;
     margin:5px;
     box-shadow: 0px 2px 7px 0px;
    
}
.pro_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 2px 7px 0px;
    

}
.prod_info_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pro_icon{
    display: flex;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease;

}
.pro_icon:hover{
    transform: scale(1.2);
}
@media screen and (max-width:480px) {
    .product_container{
        margin: 0;
    }
    
}