.banner{
    z-index: 2;
    position: sticky;
    width: 100%;
    height: 2rem;
    background-color: white;
    box-shadow: 0px 1px 4px 0px;
    border-radius: 25px;
}
.navbar_box{
    position: sticky;
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between; 
    align-items: center;
    background-color: #1179ae;
    box-shadow: 0px 1px 8px 0px;
    z-index: 1;
}
.logo{
    order: 1;
    position: relative;
    top: -17px;
    left: 80px;
}
.menu_items{
    order: 2;
    
}
.nav_ul{
    display: flex;
}
.nav_li{
    list-style: none;
}

.nav_li_a{
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.nav_li_a:hover{
    color:black;
    transition: 1.5ms;
}
.hamBurger{
    display: none;
}

.Search{
    order:3;
    
}
.nav_buttons{
    order:5;
    display: flex;
    margin-right: 1rem;
    }
.acc{
    position: relative;
    background-color: white;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 5px 0px;
}

.select_logs{
    font-weight: 600;
    background-color: white;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 5px 0px;
}
.select_logs:hover{
    cursor: pointer;
}

.acc:hover{
    cursor: pointer;
}
.person_button{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 5px 0px;
}
.person_button:hover{
    cursor: pointer;
}
.cart_button{
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 5px 0px;
}
.cart_button:hover{
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    
    .Search{
        display: none;
    }
    .hamBurger{
        display: block;
        cursor: pointer;
        margin-left:10px;
        z-index: 100;
    }
    .menu_items{
        display: none;
    }
    .hamMenu{
        position:absolute;
        top: 2rem;
        background-color:#36bee0;
        width: 7rem;
        height: 7rem;
        border-radius: 5rem;
        box-shadow: 0px 1px 25px -10px;
    }
    .nav_ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
        margin-right: 1rem;
    }
    .nav_li{
        font-size: medium;
    }
    .nav_li_a{
        font-size: 1rem;
    }
  }