.cato_container{
    display: flex;
    padding: 10px;

}

.items_container{
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
    align-items: center;
    box-shadow: 2px 1px 4px 0px;

}
.item_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info_cont{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.item_title{
    font-size: 30px;
    color: white;
    margin-bottom: 35px;
}
.item_button{
    padding: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px;
    opacity: 0.5;
    cursor: pointer;
}
@media screen and (max-width:480px) {
.cato_container{
 flex-direction: column;
}   
.items_container{
    max-height: 50vh;
}
}